.singleCol {
    display: flex;
    justify-content: space-between;
  }
  
  .singleCol > * {
    flex: 1;
    margin-right: 10px; /* Adjust the margin value as needed */
  }
  
  .singleCol > *:last-child {
    margin-right: 0;
  }
